.row
  .large-3.columns
    = form_for @publication, :remote => true do |f|
      = f.label :publication_title
      = f.text_field :issue_title, :autofocus => true
      = f.label :issue_title
      = f.text_field :issue_title
      = f.label :issue_date
      = f.text_field :issue_date
      = f.label :total_copies
      = f.text_field :total_copies
      = f.label :loan_duration
      = f.text_field :loan_duration
      = f.submit nil, :class => 'buttonofform'
      = link_to('Cancel', '#', :id => 'cancel_publication_form', :class => 'button')
  .large-9.columns