/ %table
/   %tr
/     %td Title
/     %td Cover
/     %td ISBN
/     %td Total Copies
/     %td Copies Available
/     %td Loan Length (Days)
/     %td
%p Books
- @books.each do |book|
  .book
    / %img{:src => book.image, :class => 'bookpageimgs'}
    / = link_to(:src => book.image, book_path(book), :class => 'button')
    = link_to image_tag(book.image, :class => 'bookpageimgs'), book_path(book)
    = link_to('Edit', edit_book_path(book), :remote => true, :class => 'button') if is_admin?
    = link_to('Delete Book', book, :method => :delete, :confirm => 'Are you sure?') if is_admin?
    - if @auth.present?
      - if !book.is_checked_out
        = link_to('Reserve!', checkout_book_path(book), :method => :post, :confirm => 'you have reserved this book.')
      - else
        = 'Reserved.'
        %br
        = link_to('Release', return_book_path(book), :method => :post, :confirm => 'you have reserved this book.')