.row
  %table#example
    %thead
      %tr
        %th Title
        %th Author
        %th= 'Action' if @auth.present?
        %th= 'Edit' if is_admin?
        %th= 'Delete' if is_admin?
    - @books.each do |book|
      %tr
        %td{:width => "300px;"}
          = link_to(book.title, book_path(book))
        %td{:width => "150px;"}
          = book.author
        %td{:width => "100px;"}
          - if @auth.present?
            - if !book.is_checked_out
              = link_to('Reserve!', checkout_book_path(book), :method => :post, :confirm => 'you have reserved this book.', :class => 'button')
            - else
              = 'Reserved.'
              %br
              = link_to('Put on hold?', hold_book_path(book), :method => :post, :confirm => 'put this book on hold.')
              / if @book.checkout.user == !present
              %br
              = link_to('Release', return_book_path(book), :method => :post, :confirm => 'you have reserved this book.') if is_admin?
        %td{:width => "50px;"}
          = link_to('Edit', edit_book_path(book), :remote => true, :class => 'button') if is_admin?
        %td{:width => "100px;"}
          = link_to('Delete Book', book, :method => :delete, :class => 'button', :confirm => 'Are you sure?') if is_admin?
.row
- if is_admin?
  Import Books
  = form_tag import_books_path, multipart: true do
    = file_field_tag :file
    = submit_tag "Import"